<!doctype html>
<html lang="en">
<title><%= title %></title>
<head>
  <meta charset="UTF-8">
  <title>slushtest</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <ul class="pages">
    <li class="chat page">
      <div class="chatArea">
        <ul class="messages"></ul>
      </div>
      <input class="inputMessage" placeholder="Type here..."/>
    </li>
    <li class="login page">
      <div class="form">
        <h3 class="title">What's your nickname?</h3>
        <input class="usernameInput" type="text" maxlength="14" />
      </div>
    </li>
  </ul>

  <script src="/bower_components/jQuery/dist/jquery.min.js"></script>
  <script src="/socket.io/socket.io.js"></script>
  <script src="/js/index.js"></script>
</body>
</html>
